[
	{sasl, [
			{sasl_error_logger, false},
			{utc_log, true}
	]},

	{lager, [
%% log levels: none, debug, info, notice, warning, error, critical, alert, emergency
    {error_logger_redirect, false},
    {log_root, "logs"},
    {handlers, [
      {lager_console_backend, [
         {level, debug},
         {formatter, lager_default_formatter},
         {formatter_config, [
            "  ", date, "T", time, " [",severity,"] ", pid, " ", 
            {module, [module, ":"], [""]}, 
            {function, [function, ":"], [""]}, 
            {line, [line], [""]},
            {endtype, [" -", endtype, "- "], [" - "]}, 
            message, "\n"
         ]}
      ]},
      {lager_file_backend, [{file, "common.log.txt"}, {level, info}]}
    ]},
    {traces, [
    ]}
  ]},

	{sim_web, [
%		{storage, mysql},
		{storage, dets},
		{dets_home_folder, "/private/var/data/dets-storage"},
		{mqtt_rest_url, "http://localhost:8080"},
		{mqtt_host, "MACBOOK-PRO"},
		{mqtt_port, 8880},
		{mqtt_conn_type, web_socket},
		{port, 8000}
	]}
].