{minimum_otp_vsn, "27"}.
{src_dirs, ["src"]}.

{deps, [
    {cowboy, {git, "https://github.com/ninenines/cowboy.git", {tag, "2.16.1"}}},
    {jesse, {git, "https://github.com/for-GET/jesse.git", {tag, "1.8.1"}}},
    {mqtt_client, {git, "https://github.com/alekras/mqtt_client.git", {branch, "master"}}},
    {mysql_client, {git, "https://krasnopolski@git.code.sf.net/p/erlmysql/git", {branch, master}}},
    {lager, {git, "https://github.com/erlang-lager/lager.git", {branch, "master"}}}
  ]
}.

{erl_opts, [
  no_debug_info, 
  {parse_transform, lager_transform}
]}.

{eunit_compile_opts, [{src_dirs, ["src"]}]}.
{eunit_opts, [verbose]}.
 {cover_enabled, false}.

{relx, [
	{release,
		{sim_web, "2.0.1"},
		[sim_web, sasl],
		[
			{sys_config_src, "./config/sys_prod.config.src"},
			{vm_args_src, "./config/vm_prod.args.src"},
			{mode, prod},
			{dev_mode, false}, 
			{include_src, false}, 
			{debug_info, keep}, 
			{include_erts, false},
			{extended_start_script, true},
			{overlay, [
									{copy, "priv/www/js/Config-prod.js", 
													"lib/sim_web-{{release_version}}/priv/www/js/Config.js"}
								]}
		]
	},
	{release,
		{sim_web_dev, "2.0.1" }, 
		[sim_web, sasl],
		[
			{sys_config_src, "./config/sys_dev.config.src"},
			{vm_args_src, "./config/vm_dev.args.src"},
			{dev_mode, false}, 
			{include_src, false}, 
			{debug_info, keep}, 
			{include_erts, true},
			{extended_start_script, true},
			{overlay, [
									{copy, "priv/www/js/Config-dev.js", 
													"lib/sim_web-{{release_version}}/priv/www/js/Config.js"}
								]}
		]
	}
]}.

{profiles, [
  {prod, [
    {relx, [
      {mode, prod},
      {include_erts, false}
    ]}
  ]},

  {test, [
    {eunit_compile_opts, [{src_dirs, ["src"]}]},
    {eunit_tests, [{dir, "test"}]},
    {eunit_opts, [verbose]}
	]}
]}.
