{src_dirs, ["src"]}.

{deps, [
    {cowboy,      {git, "https://github.com/ninenines/cowboy.git", {tag, "2.6.3"}}},
    {mysql_client, {git, "https://krasnopolski@git.code.sf.net/p/erlmysql/git", {branch, master}}},
    {lager,       {git, "git://github.com/basho/lager.git",        {branch, "master"}}}
  ]
}.

{erl_opts, [
  no_debug_info, 
  {parse_transform, lager_transform}
]}.

{eunit_compile_opts, [{src_dirs, []}]}.
{eunit_opts, [verbose]}.

{cover_enabled, false}.
